<div class="medium-12 columns">
  <h3>Change Your Password</h3>
  <%= form_tag(password_profile_path, {:method => 'put', 'data-abide' => ''}) do -%>
    <div>
      <label>Current Password
        <%= password_field_tag :current_password, nil, :required => true %>
      </label>
      <%= error_message_for(@user, :current_password) %>
    </div>
    <div>
      <label>New Password
        <%= password_field_tag :new_password, nil, :required => true %>
      </label>
      <%= error_message_for(@user, :new_password) %>
    </div>
    <div>
      <label>Confirm Password
        <%= password_field_tag :password_confirmation, nil, :required => true %>
      </label>
      <%= error_message_for(@user, :password_confirmation) %>
    </div>
    <div>
      <%= error_message_for(@user, :base) %>
    </div>
    <div>
      <button type="submit" class="button">Change Password</button>
    </div>
  <% end -%>
</div>
